@charset "utf-8";
// Fonte gratuita: https://diario.madrid.es/chulapa/
@font-face {
  font-family: chulapa;
  src: url("/assets/fonts/Chulapa/Chulapa-Bold_vmod.otf");
  font-display: fallback;
}
@import "bootstrap/bootstrap";
@import "chulapa-master";
@import "reset-algolia";