@charset "utf-8";
@font-face {
  font-family: chulapa;
  src: url("/assets/fonts/Chulapa/Chulapa-Bold_vmod.otf");
  font-display: fallback;
}
@use "skins/chulapa";
@use "bootstrap/bootstrap";
@use "chulapa-master";
@use "reset-algolia";
